.chat-drawer-container {
    position: fixed;
    bottom: 135px;
    left: 40px;
    width: 85vw;
    /* ← responsive width */
    max-width: 450px;
    max-height: 450px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    direction: rtl;
    z-index: 999;
}


.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
}

.chat-messages {
    height: 300px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.chat-message {
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-msg {
    align-self: flex-start;
    background-color: #dff3ff;
}

.admin-msg {
    align-self: flex-end;
    background-color: #eee;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.chat-input button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0 14px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    /*border-radius: 20px;
    */-webkit-transition: 2s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.chat-input button:hover {

    color: #007bff;
    background-color: #dff3ff;
}