:root {
  --main-font: "El Messiri", sans-serif;
  --primary-color: #915EF6;
  --accent-color: #327AFF;
  --background-color: #f8f7fa;
  --side-bar-color: #1B0F31;
  --black-color : #27242F;
  --dark-gray-color: #424047;
  --mid-gray-color: #7B7686;
  --very-light-gray-color: #A6A1B1;
  --very-very-light-gray-color: #CDC5DC;
  --border-color : #EFECF3;
  --white-color: #FFFFFF;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  box-sizing: border-box;
  background-color: var(--background-color);
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.btn-primary {
  background-color: var(--primary-color) !important ;
  color: var(--white-color) !important;
  font-family: var(--main-font) !important;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none !important;
  border-radius: 10px;
  cursor: pointer;
}

 

.btn-primary:hover {
  background-color: var(--accent-color);
}

.btn-secondary {
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: var(--main-font);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
}   


 .modal-content input,
.modal-content textarea,
.modal-content select {
  font-family: var(--main-font);
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border: 1.5px solid var(--border-color);
  border-radius: 10px;
  background-color: #fff;
  color: var(--black-color);
  transition: border 0.3s ease;
}

.modal-content input:focus,
.modal-content textarea:focus,
.modal-content select:focus {
  border-color: var(--primary-color);
  box-shadow: none;
  outline: none;
}

 .modal-content select,
.modal-content input,
.modal-content textarea {
  direction: rtl;
  text-align: right;
}

 .modal-content select.form-select {
  background-position: left 0.75rem center;
  padding-left: 2rem;
  padding-right: 0.75rem;
}

 .input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--mid-gray-color);
  pointer-events: none;
}
